/* Remove if fonts are not used */
@import '@fontsource/inter/100.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';
@import '@fontsource/roboto-mono/300.css';
@import '@fontsource/roboto-mono/400.css';
@import '@fontsource/plus-jakarta-sans/600.css';
@import '@fontsource/plus-jakarta-sans/700.css';
@import "tailwindcss";

/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid #19786f;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
a{
  text-decoration: none;
  color: #000 !important;
}
.MuiBox-root a{
  text-decoration: none;
  color: #ffffff !important;
}
a:hover{
  text-decoration: none !important;
}
.or{
  text-align: center;
  position: relative;
}
.or::after{
  content: "";
  position: absolute;
  width: 47%;
  height: 1px;
  background-color: #bfbfbf;
  top: 50%;
  left: 0;
}
.or::before{
  content: "";
  position: absolute;
  width: 47%;
  height: 1px;
  background-color: #bfbfbf;
  top: 50%;
  right: 0;
}
.Mui-focused .mui-1v24f9t-MuiOutlinedInput-notchedOutline{
  border-color: #19786f !important;
   /* outline: 2px solid #19786f !important; */
   color: #19786f !important;;
}
.Mui-focused{
  color: #19786f !important;
}